@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/OpenSans-SemiBold.ttf");
}

*,
*::before,
*::after {
  font-family: 'Open-Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.clickable a {
  color: #000;
}

.hide {
  display: none;
}

.hide.active {
  display: block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.section-presentation {
  display: none;
}

@media (min-width: 450px) {
  .section-presentation {
    display: block;
    width: 55vw;
    margin: 0 auto;
    font-size: 1.2em;
    padding-top: 1%;
    font-weight: 400;
    line-height: 1.375em;
  }
}

.section-divider {
  display: none;
}

@media (min-width: 450px) {
  .section-divider {
    display: block;
    background-image: url("../images/section-transition.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100%;
    opacity: 0.2;
  }
}

.inverse {
  background-image: url("../images/section-transition-reversed.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  height: 150px;
}

.nav-bar {
  background-color: #1b75c2;
  height: 10vh;
  width: 100vw;
}

@media (min-width: 450px) {
  .nav-bar {
    top: 0;
    left: 0;
    z-index: 4;
    height: 15vh;
    background-color: transparent;
    position: fixed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.scrolled {
  height: 10vh;
}

.nav-bar-container {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar-container .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

.nav-bar-container .nav-logo .nav-img {
  height: 65%;
}

@media (min-width: 450px) {
  .nav-bar-container .nav-logo .nav-img {
    content: url("../images/logo blue.png");
    cursor: pointer;
  }
}

.nav-bar-container .nav-logo .nav-title {
  display: none;
}

@media (min-width: 450px) {
  .nav-bar-container .nav-logo .nav-title {
    display: block;
    color: #1b75c2;
    padding-left: 5%;
  }
}

.nav-bar-container .nav-logo .nav-title span {
  font-weight: 300;
}

.nav-bar-container .nav-logo .nav-title .title-span {
  font-weight: 400;
  font-size: 1.4em;
}

.nav-bar-container .right-side-menu {
  width: 30px;
  height: 30px;
}

@media (min-width: 450px) {
  .nav-bar-container .right-side-menu {
    display: none;
  }
}

.side-nav {
  min-height: 30vh;
  height: auto;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 50px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.side-nav a,
.side-nav li {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.8em;
  color: #ccc;
  display: block;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.side-nav a:hover, .side-nav a:focus,
.side-nav li:hover,
.side-nav li:focus {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 2em;
  color: #fff;
}

.side-nav.active {
  width: 250px;
  background-color: #111;
}

.navbar-fullscreen-container {
  display: none;
}

@media (min-width: 450px) {
  .navbar-fullscreen-container {
    display: block;
    color: #1b75c2;
  }
}

.navbar-fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

@media (min-width: 450px) {
  .navbar-fullscreen {
    font-size: 0.9em;
  }
}

@media (min-width: 1360px) {
  .navbar-fullscreen {
    font-size: 1.1em;
  }
}

.navbar-fullscreen .navbar-fullscreen-item {
  padding-left: 2em;
  color: #1b75c2;
}

.navbar-fullscreen .navbar-fullscreen-item a {
  color: #1b75c2;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-bottom: 3%;
}

.underline {
  position: absolute;
  bottom: 10;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: #1b75c2;
  -webkit-transition-property: left, background-color, -webkit-transform;
  transition-property: left, background-color, -webkit-transform;
  transition-property: transform, left, background-color;
  transition-property: transform, left, background-color, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transform: translate3d(0, 0, 0) scaleX(0);
          transform: translate3d(0, 0, 0) scaleX(0);
  opacity: 0;
  -webkit-animation: smoothtransition .2s forwards;
          animation: smoothtransition .2s forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

@-webkit-keyframes smoothtransition {
  to {
    opacity: 1;
  }
}

@keyframes smoothtransition {
  to {
    opacity: 1;
  }
}

/* SLIDER SHOWCASE */
@media (min-width: 450px) {
  .mobile-only {
    display: none;
  }
}

.showcase-slide-text {
  padding: 10% 8%;
  font-size: 2em;
  color: #1b75c2;
  width: 100vw;
}

@media (min-width: 450px) {
  .showcase-slide-text {
    font-size: 3em;
  }
}

@media (min-width: 450px) {
  .web-only-first-text {
    width: 50%;
    margin: 0;
  }
}

.web-only-second-text {
  display: none;
}

@media (min-width: 450px) {
  .web-only-second-text {
    display: blocK;
    padding: 5% 8%;
    width: 50%;
    margin: 0;
  }
}

@media (min-width: 450px) {
  .web-only-third-text {
    padding: 5% 8%;
    width: 50%;
    margin: 0;
  }
}

.container-slides {
  width: 100vw;
}

.swiper-container {
  width: 100vw;
  height: 80vh;
}

@media (min-width: 450px) {
  .swiper-container {
    width: 100vw;
    height: 75vh;
    padding-top: 15vh;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

@media (min-width: 450px) {
  .swiper-slide {
    height: 100%;
  }
}

.first {
  background-image: url("../images/perro.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 450px) {
  .first {
    background-image: url("../images/showcase-screen-1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.first,
.second,
.third {
  background-repeat: no-repeat;
  background-size: cover;
}

.second {
  background-image: url("../images/slider2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

@media (min-width: 450px) {
  .second {
    background-image: url("../images/showcase-screen-2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.second .showcase-button {
  font-size: 1.2em;
  position: absolute;
  margin-left: 6%;
  padding: 4%;
  background-color: #1b75c2;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 450px) {
  .second .showcase-button {
    padding: 1.5%;
    margin-left: 8%;
    border-radius: 10px;
    border: 1px solid #1b75c2;
    font-weight: bold;
  }
}

.second .showcase-button:hover {
  border: none;
  color: #fff;
  background-color: #1b75c2;
}

@media (min-width: 450px) {
  .second .showcase-button:hover {
    padding: 1.7%;
    margin-left: 8%;
    border-radius: 10px;
    border: 1px solid #1b75c2;
    font-weight: bold;
  }
}

.third {
  background-image: url("../images/slider 3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 450px) {
  .third {
    background-image: url("../images/showcase-screen-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.third .showcase-button {
  font-size: 1.2em;
  position: absolute;
  margin-left: 6%;
  padding: 4%;
  background-color: none;
  color: #1b75c2;
  border-radius: 10px;
  border: 1px solid #1b75c2;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 450px) {
  .third .showcase-button {
    padding: 1.5%;
    margin-left: 8%;
    background-color: #1b75c2;
    color: #fff;
    font-weight: bold;
  }
}

.third .showcase-button:hover {
  border: none;
  color: #fff;
  background-color: #1b75c2;
}

@media (min-width: 450px) {
  .third .showcase-button:hover {
    padding: 1.7%;
    margin-left: 8%;
    border-radius: 10px;
    border: 1px solid #1b75c2;
    font-weight: bold;
  }
}

.swiper-pagination-bullet-active {
  background: #1b75c2;
}

.swiper-button-next {
  right: 30px;
}

/* Team Section */
.team {
  padding: 0 0 5%;
  text-align: center;
  min-height: 100vh !important;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.team-title {
  font-size: 1.86em;
  padding: 10% 0 1% 0;
  text-align: center;
}

@media (min-width: 450px) {
  .team-title {
    padding-top: 10vh;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.team-title-after {
  position: relative;
}

.team-title-after:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 10;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #000;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

#modal-name {
  margin: 0 auto;
  font-size: 1.4em;
  padding: 4% 0 0;
}

.person-item {
  display: none;
  margin-bottom: 5%;
}

.person-item.active {
  display: block;
}

.person-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  padding: 10% 0 5%;
}

.person-img {
  width: 90%;
  height: 90%;
}

.team-modal {
  color: #fff;
  z-index: 2;
}

.team-modal .btn-close-modal {
  position: fixed;
  top: 20%;
  left: 80%;
  cursor: pointer;
  font-size: 2em;
}

.team-modal .person-name {
  position: fixed;
  top: 25%;
  text-align: center;
  font-size: 2em;
  width: 100vw;
}

.team-modal .person-bio {
  position: fixed;
  width: 100vw;
  display: inline-block;
  top: 30%;
  margin: 0 auto;
  padding: 5% 10%;
}

.team-modal .person-bio .person-bio-txt {
  font-weight: 300;
  list-style-image: url("../images/huella.png");
  list-style-position: inside;
  padding: 5% 0;
}

.doctor-1 {
  background-image: url("../images/doctor 1.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-8%);
          transform: translateY(-8%);
}

.doctor-2 {
  background-image: url("../images/doctor 1.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-8%);
          transform: translateY(-8%);
}

.doctor-3 {
  background-image: url("../images/doctor 1.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-8%);
          transform: translateY(-8%);
}

.container-team-desktop {
  display: none;
}

@media (min-width: 450px) {
  .container-team-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 95vh;
    z-index: 1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-team-images {
  margin: 0 auto;
  height: 100vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #1b75c2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.img-name-team {
  height: 100%;
}

.desktop-team-img {
  height: 70%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.desktop-team-img:hover {
  height: 80%;
}

.no-hover {
  opacity: 0.6;
}

.modal-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 5%;
}

.modal-img {
  height: 75%;
}

.modal-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal-text:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/paw-path.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.1;
  overflow: hidden;
  z-index: 0;
}

.modal-text h2 {
  font-weight: 400;
  font-size: 1.7em;
  padding: 5% 0;
  margin: 0 auto;
}

.modal-text h2 span {
  position: relative;
}

.modal-text h2 span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 10;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #000;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

.modal-text ul {
  width: 65%;
  margin: 0 auto;
}

.modal-text ul,
.modal-text ul li {
  text-align: left;
  font-size: 1.15em;
  padding-bottom: 5%;
  font-weight: 300;
  list-style: none;
}

.hide {
  display: none;
}

.btn-close-modal-team {
  cursor: pointer;
  font-size: 2em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 20%;
  z-index: 1;
}

/* Services section */
.services {
  padding: 0 10% 5%;
  min-height: 90vh;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 450px) {
  .services {
    height: auto;
    padding-bottom: 0;
  }
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.services-title {
  font-size: 1.86em;
  padding: 10% 0 5% 0;
}

@media (min-width: 450px) {
  .services-title {
    padding-top: 10vh;
    padding-bottom: 1%;
  }
}

@media (min-width: 450px) {
  .services-title-after {
    position: relative;
  }
  .services-title-after:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 10;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #000;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
  }
}

.services-list {
  padding: 5% 0 10%;
  height: auto;
}

@media (min-width: 450px) {
  .services-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services-list div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 33%;
  }
}

.services-item {
  font-size: 1.4em;
  padding: 2% 0;
  list-style: none;
}

@media (min-width: 450px) {
  .services-item {
    padding: 5% 0;
    color: #1b75c2;
    font-weight: bold;
  }
}

.btn-close-list {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  text-decoration: none;
  font-size: 1.4em;
  cursor: pointer;
  font-weight: 400;
}

@media (min-width: 450px) {
  .btn-close-list {
    color: #1b75c2;
  }
}

.list-text {
  display: none;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.375em;
}

@media (min-width: 450px) {
  .list-text {
    text-align: left;
    color: #000;
  }
}

.list-text.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact {
  min-height: 100vh !important;
  height: auto;
  padding: 0 10% 0;
}

@media (min-width: 450px) {
  .contact {
    padding: 0;
  }
}

.contact-container {
  height: 100vh;
}

@media (min-width: 450px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 8px;
  font-size: 1.1em;
  font-weight: 300;
}

.contact-container input:focus,
.contact-container textarea:focus {
  outline: none !important;
  border: 1px solid #1b75c2;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

.contact-form {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 450px) {
  .contact-form {
    padding: 5% 5% 0;
    width: 33%;
  }
}

.contact-title {
  font-size: 1.59em;
  text-align: center;
}

@media (min-width: 450px) {
  .contact-title {
    font-size: 1.4em;
  }
}

@media (min-width: 1360px) {
  .contact-title {
    font-size: 1.86em;
  }
}

.contact-map-link {
  display: block;
  text-decoration: none;
  font-size: 1.3em;
  color: #1b75c2;
  text-align: center;
  padding: 5%;
}

@media (min-width: 450px) {
  .contact-map-link {
    display: none;
  }
}

.form-btn {
  font-size: 1.1em;
  width: 100%;
  padding: 2% 1%;
  margin: 1% 0 5%;
  color: white;
  background-color: #1b75c2;
  border-style: hidden;
  -webkit-box-shadow: 5px 5px 10px rgba(27, 117, 194, 0.4);
          box-shadow: 5px 5px 10px rgba(27, 117, 194, 0.4);
}

.contact-location-list {
  list-style: none;
  padding-top: 5%;
  font-size: 1em;
}

.contact-location-list .contact-location-item {
  padding: 0 10% 5%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-location-list .contact-location-item .contact-img-logo {
  display: none;
  margin-right: 5%;
  size: 10px 10px;
}

.copyright-container {
  padding: 5% 0;
  text-align: center;
}

@media (min-width: 450px) {
  .copyright-container .copyright {
    font-size: 0.9em;
  }
}

.contact-map {
  display: none;
}

@media (min-width: 450px) {
  .contact-map {
    display: block;
    min-height: 100vh !important;
    height: auto;
    width: 66%;
  }
}

.floated-label-wrapper {
  position: relative;
}

.floated-label-wrapper label {
  background: #fff;
  color: #1b75c2;
  font-size: 0.75rem;
  font-weight: 600;
  left: 0.75rem;
  opacity: 0;
  padding: 0 0.25rem;
  position: absolute;
  top: 2rem;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  z-index: -1;
}

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label textarea {
  border-radius: 4px;
  font-size: 1.75em;
  padding: 5px;
  margin: 0 0 0 1rem;
}

.floated-label-wrapper label.show {
  opacity: 1;
  top: -0.65rem;
  z-index: 1;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.text-404 {
  font-size: 1.5em;
  padding: 10% 0;
}

.link-404 {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */