.contact {
    min-height: 100vh !important;
    height: auto;
    padding: 0 10% 0;

    @media (min-width: 450px) {
        padding: 0;
    }
}

.contact-container {
    height: 100vh;

    @media (min-width:450px) {
        display: flex;
    }

    input,
    textarea {
        width: 100%;
        margin: 0 0 1rem 0;
        padding: 8px;
        font-size: 1.1em;
        font-weight: 300;

        &:focus {
            outline: none !important;
            border: 1px solid $clr-primary;
            box-shadow: 0 0 10px #719ECE;
        }
    }
}

.contact-form {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    @media (min-width: 450px) {
        padding: 5% 5% 0;
        width: 33%;
    }
}


.contact-title {
    font-size: 1.59em;
    text-align: center;


    @media (min-width:450px) {
        font-size: 1.4em;
    }

    @media (min-width:1360px) {
        font-size: 1.86em;
    }
}



.contact-map-link {
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    color: $clr-primary;
    text-align: center;
    padding: 5%;

    @media (min-width:450px) {
        display: none;
    }
}


.form-btn {
    font-size: 1.1em;
    width: 100%;
    padding: 2% 1%;
    margin: 1% 0 5%;
    color: white;
    background-color: $clr-primary;
    border-style: hidden;
    box-shadow: 5px 5px 10px rgba($color: $clr-primary, $alpha: 0.4);
}

.contact-location-list {
    list-style: none;
    padding-top: 5%;
    font-size: 1em;

    .contact-location-item {
        padding: 0 10% 5%;
        text-align: center;
        justify-content: center;

        .contact-img-logo {
            display: none;
            margin-right: 5%;
            size: 10px 10px;
        }
    }
}

.copyright-container {
    padding: 5% 0;
    text-align: center;

    .copyright {
        @media (min-width:450px) {
            font-size: 0.9em;
        }
    }
}

.contact-map {
    display: none;

    @media (min-width: 450px) {
        display: block;
        min-height: 100vh !important;
        height: auto;
        width: 66%;
    }
}

// Floating contact labels
.floated-label-wrapper {
    position: relative;

    label {
        background: $secondary-font-color;
        color: $clr-primary;
        font-size: 0.75rem;
        font-weight: 600;
        left: 0.75rem;
        opacity: 0;
        padding: 0 0.25rem;
        position: absolute;
        top: 2rem;
        transition: all 0.15s ease-in;
        z-index: -1;

        input[type=text],
        input[type=email],
        textarea {
            border-radius: 4px;
            font-size: 1.75em;
            padding: 5px;
            margin: 0 0 0 1rem;
        }

        &.show {
            opacity: 1;
            top: -0.65rem;
            z-index: 1;
            transition: all 0.15s ease-in;
        }
    }
}