.contact {
    min-height: 100vh !important;
    height: auto;
    padding: 0 10% 0;

    @media (min-width: 450px) {
        padding: 0;
    }
}

.contact-container {
    height: 100vh;

    @media (min-width:450px) {
        display: flex;
    }

    input {
        padding: 5px 0;
    }

    input,
    textarea {
        width: 100%;
        margin: 1% 0;

        &:focus {
            outline: none !important;
            border: 1px solid $clr-primary;
            box-shadow: 0 0 10px #719ECE;
        }
    }
}

.contact-form {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    @media (min-width: 450px) {
        padding: 5% 5% 0;
        width: 33%;
    }
}


.contact-title {
    font-size: 1.59em;
    text-align: center;

    @media (min-width:450px) {
        font-size: 1.4em;
    }

    @media (min-width:1360px) {
        font-size: 1.86em;
    }
}



.contact-map-link {
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    color: #000;
    text-align: center;
    padding: 5%;

    @media (min-width:450px) {
        display: none;
    }
}


.form-btn {
    font-size: 1.1em;
    width: 100%;
    padding: 2% 1%;
    margin: 1% 0 5%;
    color: white;
    background-color: $clr-primary;
}

.contact-location-list {
    list-style: none;
    padding-top: 5%;

    .contact-location-item {
        padding: 0 10% 5%;
        text-align: center;
        justify-content: center;

        .contact-img-logo {
            margin-right: 5%;
        }
    }
}

.copyright-container {
    padding: 5% 0;
    text-align: center;

    .copyright {
        @media (min-width:450px) {
            font-size: 0.9em;
        }
    }
}


.contact-map {
    display: none;

    @media (min-width: 450px) {
        display: block;
        min-height: 100vh !important;
        height: auto;
        width: 66%;
    }

}