// Fonts
@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/open-sans-v17-latin-300.woff2')
}

@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/open-sans-v17-latin-regular.woff2')
}

// Margin and padding reset
*,
*::before,
*::after {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


// Hide class to develop
.hide {
    display: none;

    &.active {
        display: block;
    }
}

.nav-scroll {
    -webkit-animation-name: nav-scroll;
    -webkit-animation-duration: 0.5s;
    animation-name: nav-scroll;
    animation-duration: 0.5s;
}

@-webkit-keyframes nav-scroll {
    from {
        height: 15vh;
    }

    to {
        height: 10vh;
    }
}

@keyframes nav-scroll {
    from {
        height: 15vh;
    }

    to {
        height: 10vh;
    }
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}