//Nav-bar
.nav-bar {
    background-color: $clr-primary;
    height: 10vh;
    width: 100vw;

    @media (min-width: 450px) {
        top: 0;
        left: 0;
        z-index: 4;
        height: 15vh;
        background-color: transparent;
        position: fixed;
        transition: 0.5s;
    }
}

.scrolled {
    height: 10vh;
}

.nav-bar-container {
    width: 85%;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;

    .nav-logo {
        display: flex;
        height: 100%;
        align-items: center;
        width: 50vw;

        .nav-img {
            height: 65%;

            @media (min-width:450px) {
                content: url("../images/logo blue.png");
                cursor: pointer;
            }
        }

        .nav-title {
            display: none;

            @media (min-width: 450px) {
                display: block;
                color: $clr-primary;
                padding-left: 5%;
            }

            span {
                font-weight: 300;
            }

            .title-span {
                font-weight: 400;
                font-size: 1.4em;
            }
        }

    }

    .right-side-menu {
        width: 30px;
        height: 30px;

        @media (min-width: 450px) {
            display: none;
        }
    }

}

.side-nav {
    min-height: 30vh;
    height: auto;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 50px;
    transition: width 0.5s;

    a,
    li {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 1.8em;
        color: #ccc;
        display: block;
        transition: 0.1s;

        &:hover,
        &:focus {
            color: $secondary-font-color;
        }
    }

    .btn-close {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 2em;
        color: $secondary-font-color;
    }

    &.active {
        width: 250px;
        background-color: #111;
    }
}

.navbar-fullscreen-container {
    display: none;

    @media (min-width: 450px) {
        display: block;
        color: $clr-primary;
    }
}

.navbar-fullscreen {
    display: flex;
    flex-direction: row;
    list-style: none;

    @media (min-width:450px) {
        font-size: 0.9em;
    }

    @media (min-width: 1360px) {
        font-size: 1.1em;
    }

    .navbar-fullscreen-item {
        padding-left: 2em;
        color: $clr-primary;

        a {
            color: $clr-primary;
            cursor: pointer;
            font-weight: bold;
            position: relative;
            display: inline-block;
            padding-bottom: 3%;
        }
    }
}

.underline {
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: $clr-primary;
    transition-property: transform, left, background-color;
    transition-duration: 0.3s;
    transform-origin: 0;
    transform: translate3d(0, 0, 0) scaleX(0);
    opacity: 0;
    animation: smoothTransition .2s forwards;
    animation-delay: .2s;
}

@keyframes smoothTransition {
    to {
        opacity: 1;
    }
}